body {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 10px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 540px) {
    body{
        text-align:center;
    }
}
